<%- include('./partials/header.ejs')%>
<title> Contact </title>
<main>
    <div>
      <h3>Connect with us!</h3>
      <br>
      <p>Our phone number:</p>
      <p>926-444-5555</p>
    </div>
  </main>
<%- include('./partials/footer.ejs')%>    