<%- include('./partials/header.ejs')%>    
<title> Home </title>
	<main>
		<h2>What is this site?</h2>
        <p> Welcome to the Music Division. This sign allows you to find like minded individuals
		    who share similar music interests and get a chance to connect with them. There are a variety of genres
			to choose from, so browse through in find which best interests you!
		</p>
		
	</main>


	<%- include('./partials/footer.ejs')%>    